p{
    color:green;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
body{
    background-color: white;
}
img{
    width: 300px;
    border: 10px;
    border-style: dashed;

}
